<div class="container">
  <div class="row center-align">
    <canvas #myCanvas width="500" height="150">
    </canvas>
    <h1>Score: {{score}}</h1>
  </div>
</div>
<div></div>
<div *ngIf="nextGame">
  <div class="row container">
    <div>
      <h1>
        Podaj liczbę
      </h1>
      <p>Podaj liczbę o której pomyślał serwer :)</p>
      <label>
        <input [(ngModel)]="name" class="nameInput" type="number">
      </label>
      <button class="waves-effect waves-light btn-large" (click)="update()">OK</button>
    </div>
  </div>

</div>
