<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DinnerFighter</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="game">Create new dinner game</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>

