<div class="container">
  <h1>
    Dołącz do walki o obiad
  </h1>
  <form action="#">
    <div class="file-field input-field">

      <button class="btn waves-effect waves-light" [ngxClipboard]="inputTarget" name="action">
        <i class="material-icons left">content_copy</i>Skopiuj
      </button>

      <div class="file-path-wrapper">
        <input [(ngModel)]="location" type="text" name="date" #inputTarget readonly>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="username" type="text" name="name">
      <label for="first_name">Imię</label>
    </div>
  </div>

  <br>
  <button class="btn waves-effect waves-light" [disabled]="username === ''" (click)="createUser()" type="submit" name="action">Graj!!!
    <i class="material-icons right">send</i>
  </button>
</div>