<div class="container">
  <h1>Dodaj nową walkę o obiad</h1>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="name" type="text" name="name">
        <label for="first_name">Nazwa</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="desc" type="text" name="desc">
        <label for="first_name">Opis</label>
      </div>
    </div>

    
    <span style="color: red">{{alert}}</span>
    <br>
    <br>
    <button class="btn waves-effect waves-light"  type="submit" (click)="dupa()" name="action">Stwórz</button>
  </form>
</div>
