<div class="container">
  <div class="row">
    <h1 class="col s6">Osobą zamawiającą jest...</h1>
    <h1 class="col s6 blue-text text-darken-2">{{looser.username}}</h1>
  </div>
  <div class="collection">
      <a href="#!" class="collection-item">Nazwa:  {{this?.game?.name}} </a>
      <a href="#!" class="collection-item ">Propozycja na obiad:  {{this?.game?.dinner}}</a>
    </div>
 
  <div class="row">
    <table class="striped centered col s12">
      <thead>
        <tr>
          <th>Miejsce</th>
          <th>Imię</th>
          <th>Wynik</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let player of players;  let i = index">
          <td>{{i+1}}</td>
          <td>{{player.username}}</td>
          <td>{{player.score+500}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
